/* styles.css */

/* Ensure full height of body and HTML for centering */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the image and apply the spinning animation */
img {
  width: 70vw;
  height: 70vw;
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Define the keyframes for the spinning animation */
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}