/* styles.css */

/* Ensure full height of body and HTML for centering */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the image and apply the spinning animation */
img {
  width: auto;
  height: auto;
  animation: spin 2s infinite linear;
}

/* Define the keyframes for the spinning animation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}